{% extends "base.html" %} {% block title %} Dalma's products {%endblock title%}
{% block content %} 
{% from "components/lazy_image.html" import lazy_image %}
<div class="mx-1/6">
  <div class="ml-64 pb-8 sticky top-0">
    {% include "components/category_selector.html" %}
  </div>
  <div class="w-full grid grid-cols-2">
    <div class="flex flex-col w-ful h-full">
      <div class="relative flex">
        <div
          id="product_images"
          _="on scroll_to(id) scrollTo({top: id.offsetTop - me.offsetTop, behavior: 'smooth'}) on me
            init registerImageObservers() 
           "
          class="w-full snap-y snap-mandatory snap-center aspect-[6/7] overflow-y-scroll scroll-smooth space-y-6 scrollbar-hide"
        >
          {% for image in product.display_images %}
          <div
            id="product_image_{{ loop.index }}"
            class="w-full h-full snap-center product-image"
          >
            {{ lazy_image(image.source, image.low_res_source, image.description,
            loop.index, intersect_reveal=true)}}
          </div>

          {% endfor %}
        </div>
        <div
          class="absolute bottom-0 -right-12 justify-end items-end flex flex-col pb-11 space-y-5 h-full"
        >
          {% for image in product.display_images %}
          <button
            id="image_indicator_{{ loop.index }}"
            style="opacity: 0.3"
            class="image_indicator transition-opacity"
            _="init if {{ loop.index }} is equal to 1 set my *opacity to 1 end 
                   on set_opacity(opacity) set my *opacity to opacity
                   on click send scroll_to(id: #product_image_{{loop.index}}) to #product_images"
          >
            <svg class="h-[0.9rem]" viewBox="0 0 20 20">
              <circle cx="10" cy="10" r="4" fill="black" />
            </svg>
          </button>
          {% endfor %}
        </div>
      </div>
      <div class="flex-grow"></div>
    </div>
    <div class="flex pt-16">
      <div
        id="product_panel"
        class="flex flex-col flex-grow pl-32 pr-16 space-y-9"
      >
        {% if product_page == "details" %}
          {% include "components/product_details_panel.html" %}
        {% elif product_page == "order" %}
          {% include "components/product_order_form.html" %}
        {% elif product_page == "summary" %}
          {% include "components/product_summary_panel.html" %}
        {% elif product_page == "success" %}
          {% include "components/product_order_success.html" %}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col space-y-5 mt-18 items-center">
    <div class="h-40 flex space-x-4">
      {% for related_product in related_products %}
      <a
        class="h-full aspect-square bg-gray-50"
        href="/products/{{related_product.id}}"
      >
        <img
          class="object-cover"
          src="{{ related_product.display_images[0].source }}"
          alt="{{related_product.display_images[0].description}}"
        />
      </a>
      {% endfor %}
    </div>
    <p class="uppercase text-xs tracking-widest">{{_("related_products")}}</p>
  </div>
</div>
<script>
  let observers = [];

  function intersectionCallback(entries) {
    entries.forEach((entry) => {
      const elementId = entry.target.id.split("_").pop();
      const intersectionRatio = entry.intersectionRatio;
      const imageIndicator = document.querySelector(
        `#image_indicator_${elementId}`,
      );
      const newMin = 0.3;
      const d = (1 - newMin) / (1 - 0);
      const newOpacity = (intersectionRatio - 0) * d + newMin;
      imageIndicator.style.opacity = newOpacity;
    });
  }

  function registerImageObservers() {
    const productImageParent = document.querySelector("#product_images");
    const productImages = document.querySelectorAll(".product-image");
    const length = 20;
    const steps = Array.from({ length: length + 1 }).map((_, i) =>
      i === 0 ? 0.0 : i / length,
    );
    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: steps,
    };

    productImages.forEach((image) => {
      const observer = new IntersectionObserver(
        intersectionCallback,
        observerOptions,
      );
      observer.observe(image);
      observers.push(observer);
    });
  }
</script>
{% endblock content %}
