<footer class="flex pb-11 h-30 w-full items-end font-body text-nav tracking-widest uppercase">
  <div class="h-full w-1/12"></div>
  <div class="flex justify-end space-y-1 flex-col">
    <a href="https://www.instagram.com/dalma_jedlicska_leather/">instagram</a>
    <a href="https://www.facebook.com/dalmajedlicskaleather">facebook</a>
    <div class="flex">
      <p>email</p>
      <a class="pl-4" href="mailto:dalma@jedlicska.com">dalma@jedlicska.com</a>
    </div>
  </div>
  <a class="ml-28" href="/terms">{{ _("terms & conditions")}}</a>
  <div class="flex-grow h-full"></div>
  <div class="w-1/6 space-x-3 flex items-center">
    <svg class="h-2" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <circle cx="5" cy="5" r="3" />
    </svg>
    <p>handmade in budapest</p>
  </div>
</footer>
