{% macro lang_selector(language) -%} {% set active_language =
request.cookies.get('language') == language -%} {%- endmacro %}
<div class="opacity-0 flex space-x-1 text-nav tracking-widest uppercase">
  {% for lang in supported_locales %} {% set active_language =
  request.cookies.get('language') == lang -%}
  <a
    class="{% if active_language %}font-bold{% endif %}"
    href="/set_lang/?lang={{ lang }}"
    >{{ lang }}</a
  >
  {% if not loop.last %}
  <p>/</p>
  {% endif %} {% endfor %}
</div>
