{% macro nav_link(target, menu_items, menu_item_query=false) -%} {% set
current_page = request.url.path == '/' + target -%}
<div
  _="init set $menu_open to null
     on mouseenter or touchstart set $menu_open to '{{ target }}'
        send enterNav to #cloud
        {% if menu_items %} send enterNav(item_count: {{ menu_items | length }}) to #ribbon
        then wait 0.3s if not $menu_open exit end show #menu-{{ target }}
        then set #menu-{{ target }}'s *opacity to 1 {% endif %} end 
     on mouseleave send leaveNav to #cloud set $menu_open to false 
        {% if menu_items %} set #menu-{{ target }}'s *opacity to 0 wait 0.3s 
           then if $menu_open is '{{ target }}' exit end hide #menu-{{ target }} 
        {% endif %} 
        then if $menu_open exit end send leaveNav to #ribbon end"
  class="flex flex-col space-y-1 pt-3 group relative"
>
  <a href="/{{ target }}">{{ _(target) }}</a>
  <div
    class="w-full {% if current_page %}opacity-100{% else %}opacity-0{% endif %} group-hover:opacity-100 transition-opacity duration-200 flex justify-center"
  >
    <svg class="h-2" viewBox="0 0 20 20">
      <circle cx="10" cy="10" r="4" fill="black" />
    </svg>
  </div>
  <div
    style="display: none; opacity: 0"
    id="menu-{{ target }}"
    class="absolute top-9 pt-2 flex flex-col space-y-2 transition-opacity duration-300"
  >
    {% for menu_item in menu_items %}
    <a
      class="whitespace-nowrap"
      href="/{{ target }}{% if menu_item_query %}?q={% else %}/{% endif %}{{ menu_item }}"
      >{{ _(menu_item) }}</a
    >
    {% endfor %}
  </div>
</div>
{%- endmacro %}
<div
  id="cloud"
  _="on enterNav transition my opacity to 0.4 on leaveNav transition my opacity to 0"
  class="bg-white pointer-events-none fixed top-0 left-0 w-screen h-full z-10 opacity-0"
></div>
<div
  id="ribbon"
  _="init set my *height to 8rem on enterNav(item_count) set my *height to `${ 8 + (( item_count - 1 ) * 2)}`rem end on leaveNav set my *height to 8rem end "
  class="fixed w-full z-10 top-0 left-0 transition-[height] duration-300 bg-white"
></div>
<nav
  hx-boost="true"
  class="sticky top-0 z-10 bg-white flex h-40 text-nav tracking-widest uppercase"
>
  <div class="w-1/6 flex items-center justify-center">
    <a class="h-14" href="/">{% include "components/logo.html" %}</a>
  </div>
  <div class="flex items-center space-x-18 flex-grow">
    {{ nav_link("products", model_categories, menu_item_query=true) }} {{
    nav_link("stories", story_slugs) }} {{ nav_link("info") }}
  </div>
  <div class="w-1/6 flex items-center justify-center">
    {% include "components/lang_selector.html" %}
  </div>
</nav>
