{% macro nav_link(name) -%}
    <a class="{% if request.url.path == '/' + name %}active{% endif %} flex h-8 items-center" href="/{{ name }}">
        <div class="bullet h-full w-0">
            <svg class="w-full h-full" viewBox="0 0 100 100">
                <circle cx="50" cy="50" r="40" fill="black" />
            </svg>
        </div>
        <p class="label transition-colors duration-300 hover:text-sand-hover">{{ _(name)}}</p>
    </a>
{%- endmacro %}
<div class="pl-16">
    <nav class="flex flex-col font-body text-sm font-medium tracking-wide uppercase space-y-6">
        <a class="h-24" href="/">{% include "components/logo.html" %}</a>
        {{ nav_link("collections") }}
        {{ nav_link("products") }}
        {{ nav_link("stories") }}
        {{ nav_link("info") }}
    </nav>
</div>
{% block style %}
    <style scoped>
    .active .bullet {
      width: 0.75rem;
      margin-right: 1.5rem;
      --transform-scale-x: 1;
      --transform-scale-y: 1;
    }
    .active .label {
      font-weight: 900;
      color: black;
    }
    </style>
{% endblock style %}
